html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Manrope', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior:smooth
}

@font-face {
  font-family: 'Chillax-Light';
  src: url('../public/fonts/Chillax-Light.woff2') format('woff2'),
       url('../public/fonts/Chillax-Light.woff') format('woff'),
       url('../public/fonts/Chillax-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Regular';
  src: url('../public/fonts/Chillax-Regular.woff2') format('woff2'),
       url('../public/fonts/Chillax-Regular.woff') format('woff'),
       url('../public/fonts/Chillax-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Medium';
  src: url('../public/fonts/Chillax-Medium.woff2') format('woff2'),
       url('../public/fonts/Chillax-Medium.woff') format('woff'),
       url('../public/fonts/Chillax-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Semibold';
  src: url('../public/fonts/Chillax-Semibold.woff2') format('woff2'),
       url('../public/fonts/Chillax-Semibold.woff') format('woff'),
       url('../public/fonts/Chillax-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'Chillax-Bold';
  src: url('../public/fonts/Chillax-Bold.woff2') format('woff2'),
       url('../public/fonts/Chillax-Bold.woff') format('woff'),
       url('../public/fonts/Chillax-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}

h1{font-family: 'Chillax-Light';}

//includes
@import './_palette';
@import './_typography';

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


section{width: 100%}
.fullWidthContainer{padding: clamp(5rem, 4vw, 8rem) clamp(2rem, 4vw, 3rem)}

.intro{height: 70vh; display: flex; flex-direction: column; justify-content: center;}