html{
    font-size: clamp(16px, 4vw, 20px);
    body{
        font-family: 'Manrope-Regular', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    }
}

h1, h2, h3{
    margin: 0;
    font-family: 'Chillax-Light';
}

.title{
    font-size: clamp(2.4rem, 4vw, 5rem);
}

.introTitle{
    font-family: 'Chillax-Light';
}

.description{
    font-size: clamp(1.2rem, 4vw, 2rem);
    line-height: 1.6;
}

.lead{
    font-size: clamp(1.2rem, 4vw, 1.4rem);
    line-height: 1.6;
}

.small{
    font-size: clamp(.6rem, .8rem, 1rem);
    text-transform: uppercase;
}

h6{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.025rem;
}

.highlight{
    background-color: $accent;
}

p{margin: 0}