@import './palette';

.build{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    .build__titles{
        .build__title{
            font-size: clamp(4rem, 4vw, 6rem);
        }
        .build__description{
            margin: 1rem 0 0 0;
        }
    }

    .build__content{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .build__content__skills{
            list-style: none;
            padding-left: 0;
            @media screen and (min-width: 600px){
                margin: 0
            }
            .build__content__skills__singleSkill{
                h6{
                    margin: 1rem 0 0 0;
                    color: $accent
                }
            }
        }
    }
}