@import './palette';

.create{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;

    .create__titles{
        .create__title{
            font-size: clamp(4rem, 4vw, 6rem);
        }
        .create__description{
            margin: 1rem 0 0 0;
        }
    }

    .create__content{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .create__content__skills{
            list-style: none;
            padding-left: 0;
            @media screen and (min-width: 600px){
                margin: 0
            }
            .create__content__skills__singleskill{
                h6{
                    margin: 1rem 0 0 0;
                    color: $accent;
                }
            }
        }
    }
}