@import './palette';

.create{
    color: white;
    padding-bottom: 0;
    .create__title{
        font-size: clamp(4rem, 4vw, 6rem);

    }
    .create__content{
        margin-top: 1rem;
        @media screen and (min-width: 600px){
            display: grid;
            grid-template-columns: 60% 1fr;
            gap: 3rem;
        }
        .create__content__description{
            margin: 1rem 0 0 0;
        }
        .create__content__skills{
            list-style: none;
            padding-left: 0;
            margin: 2rem 0 0 0;
            @media screen and (min-width: 600px){
                margin: 0
            }
            .create__content__skills__singleskill{
                h6{
                    margin: 1rem 0 0 0;
                    color: $accent;
                }
            }
        }
    }
}