@import './palette';

.services{
    background-color: $grey__medium;
    color: white;
    .services__list{
        list-style: none;
        padding-left: 0;
        margin: 0;
        padding-bottom: 5rem;

        .services__singleService{
            //height: calc(100vh - clamp(2rem, 4vw, 3rem));
            padding-bottom: 0;

            .services__singleService__content{

                @media screen and (min-width: 600px) {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 2rem;
                    margin-top: 2rem;
                }

                .services__singleService__content__title{
                    margin-top: 1rem;
                    @media screen and (min-width: 600px){
                        grid-column: 1/5;
                    }
                    @media screen and (min-width: 1000px){
                        grid-column: 2/5;
                    }
                    
                }

                .services__singleService__content__description{
                    margin-top: 1rem;
                    @media screen and (min-width: 600px) {
                        grid-column: 1/3;
                        margin-top: 0;
                    }
                    @media screen and (min-width: 1000px){
                        grid-column: 2/4;
                    }
                }

                .services__singleService__content__skills{
                    list-style: none;
                    padding-left: 0;
                    margin-top: 2rem;
                    
                    @media screen and (min-width: 600px) {
                        margin-top: .5rem;
                        grid-column: 3/5;
                    }
                    @media screen and (min-width: 1000px){
                        grid-column: 4/5;
                    }
                    .services__singleService__content__skills__singleSkill{
                        h6{
                            margin-top: 0;
                            margin-bottom: 1rem;
                            color: $accent;
                        }
                    }
                }
            }
        }
    }
}