@import "./palette";

.vision{
    background-color: $grey__extraDark;
    color: white;
    height: 80vh;
    align-items: center;

    @media screen and (max-width: 600px) {
        height: auto;
        padding-bottom: 50vh;
        display: flex;
    }

    @media screen and (min-width: 600px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    background-image: url('/vision-illustration.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: contain;
}