@import "./palette";

.vision{
    background-color: $grey__extraDark;
    color: white;
    height: 80vh;
    min-height: 500px;
    align-items: center;
    overflow: hidden;

    @media screen and (max-width: 600px) {
        height: auto;
        padding-bottom: 50vh;
        display: flex;
    }

    @media screen and (min-width: 1000px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}